# FastAPI
__pycache__/
.env
.env.*
*.pyc
*.pyo
*.pyd
*.swp
*.log
*.ini
/.vscode
/.idea
/venv
/.mypy_cache
/.pytest_cache
/dist
/build
/*.egg-info
/.coverage
/htmlcov
/.eggs
/.tox
/.hypothesis
/.nox
/.mypy
/.pytype
/.pyright
/.mypy_cache
/.pytest_cache
/.mypy_cache
/.pytype
/.pyright
/.mypy_cache
/.pytest_cache
/.mypy_cache
/.pytype
/.pyright
.DS_Store
firebase-admin.json
*.sqlite3